<div class="container-fluid centered">
   
<h2 class="text-center headerMessage"><a style="float: left;" routerLink="/login">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a> <span> Welcome</span></h2>
<h4 class="text-center text-muted">{{username}}</h4>
<form [formGroup]="passwordForm" autocomplete="off">
    <div class="form-group" class="FormDiv">
        <label class="formcontrol formControlLabel">Password</label>
        <input type="password" [class.is-invalid]="password.invalid && password.touched" formControlName="password" class="form-control formcontrol formControlInput">
        <div class="danger" *ngIf="password.invalid && password.touched">Please enter password</div>
        <div class="danger" *ngIf="invalidCredentials">Invalid Credentials</div>
        <div *ngIf="technicalIssue">
            <div class="danger">Oops! There's some network error. Please try again later.</div>
        </div>
    </div>
    <button class="btn btn-primary col-12 formButton" [disabled]="passwordForm.invalid" (click)="SignIn()">Sign in</button>
   
</form>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait</p>  
</ngx-spinner>
